@import '@/assets/styles/normalize.scss';
@import '@/assets/styles/variables.scss';
@import '@/assets/styles/fonts.scss';

*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	font-family: montserrat, sans-serif;
}

a {
	/*  font-weight: 500; */
	color: inherit;
	text-decoration: inherit;
}

li {
	list-style: none;
}
