:root {
  // font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  // font-weight: 400;
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-link: #646cff;
  --color-link-hover: #535bf2;
  color-scheme: light dark;
  color: rgba(10, 10, 10, 0.87);
  background-color: var(--color-light);
  --indexSize: calc(1vw + 1vh); //~20px
  font-size: calc(var(--indexSize) * 0.7); //18px
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
